IO_LOC "clkinput" 52;
IO_PORT "clkinput" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;


IO_LOC "btn_s1" 4;
IO_PORT "btn_s1" PULL_MODE=UP;
//IO_LOC "BTN[1]" 3;
//IO_PORT "BTN[1]" PULL_MODE=UP;


// USB
//IO_LOC  "usb_dn" 25;
//IO_LOC  "usb_dp" 26;
//IO_PORT "usb_dn" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=4;
//IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=4;


// PS2_KB
IO_LOC  "ps2_kb_clk" 25;
IO_LOC  "ps2_kb_dat" 26;
//IO_LOC  "ps2_kb_clk" 27;                                // D+ from gnd
//IO_LOC  "ps2_kb_dat" 28;                                // D- from +5v
IO_PORT "ps2_kb_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "ps2_kb_dat" IO_TYPE=LVCMOS33 PULL_MODE=UP;


IO_LOC "SD_CMD" 37;
IO_PORT "SD_CMD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SD_SCK" 36;
IO_PORT "SD_SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SD_CS" 38;
IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SD_DAT0" 39;
IO_PORT "SD_DAT0" IO_TYPE=LVCMOS33 PULL_MODE=UP;


IO_LOC "LED[5]" 16;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" 15;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 14;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 13;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 11;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" 10;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;


IO_LOC "dbg[0]" 57;
//IO_LOC "dbg[1]" 56;
//IO_LOC "dbg[2]" 55;
//IO_LOC "dbg[3]" 54;
IO_LOC "dbg[4]" 53;
IO_LOC "dbg[5]" 51;
IO_LOC "dbg[6]" 42;
IO_LOC "dbg[7]" 41;
IO_PORT "dbg[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_PORT "dbg[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_PORT "dbg[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_PORT "dbg[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "dbg[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "dbg[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "dbg[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "dbg[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

